html {
    font-family: RobotoDraft,"Helvetica Neue",sans-serif
}

.toolbar {
    min-height: 0px;
}

.toolbarText {
    padding-left: 1em;
    padding-bottom: 0px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-weight: 500;
}

.error {
    color: red;
}

.footer {
	font-size: 12px;
}

.footer-icon {
	font-size: 30px;
	margin: 10px 10px 5px 10px;
	color: white;
}

.footer a {
	color: white;
}