<md-list-item class="md-1-line">
	<md-card class="md-whiteframe-z4" flex>
	    <md-toolbar class="md-primary md-hue-2 toolbar">
	        <h5 class="toolbarText">Predicate {{$index + 1}}</h5>
	    </md-toolbar>
	    <md-card-content layout="row">
				<md-input-container ng-hide="$index === 0">
					<label>Grouping</label>
			        <md-select name="grouping"
			                ng-model="predicate.grouping"
			                ng-required="$index !== 0">
						<md-option ng-repeat="grouping in Controller.groupings" ng-value="grouping">{{grouping.name}}</md-option>
					</md-select>
				</md-input-container>

				<md-input-container>
		        	<label>Field</label>
			        <md-select name="field"
			                ng-model="predicate.field"
			                required>
							<md-option ng-repeat="field in Controller.fields" ng-value="field">{{field.name}}</md-option>
			        </md-select>
				</md-input-container>

				<md-input-container>
			        <label>NOT</label>
			        <input name="not"
			               type="checkbox"
			               ng-model="predicate.not"/>
				</md-input-container>

				<md-input-container>
					<label>Operator</label>
			        <md-select name="operator"
			                ng-model="predicate.operator"
			                required>
			                <md-option ng-repeat="operator in predicate.field.operators">{{operator}}</md-option>
			        </md-select>
				</md-input-container>

				<md-input-container>
			        <label>Value</label>
			        <input  type="{{predicate.field.type}}"
			                name="value"
			                ng-model="predicate.value"
			                ng-required="predicate.field.valueRequired"/>
				</md-input-container>
	        <div flex></div>
	        <md-button class="md-fab md-warn md-mini" ng-click="Controller.deleteRow($index)"><i class="fa fa-times"></i></md-button>
	    </md-card-content>
	</md-card>
</md-list-item>
